@import 'https://fonts.googleapis.com/css?family=Oswald';

$orfe_conference_font: "Open Sans", sans-serif;
$breakpoint: 850px;
$orfe_conference_sitewidth: 1280px;
$orfe_conference_header_font: "Oswald", sans-serif;

#header {
	background-image: none;
	padding: 0;
	#site-slogan {
		font-size: 1.25em;
	}
	
	#name-and-slogan {
		text-align: center;
		float: none;
		padding: 0;
		margin: 0;
		@media (min-width: 901px){
			padding: 0;
			margin: 0;
		}
	
		a, #site-slogan {
			color: black;
		}
		#site-name a {
			line-height: 1.4em;
			}
		}
}

.postponed {
	font-weight: bold;
	color: red;
}

.primary.menu {
	background-color: rgba(82, 83, 85, 0.45);
}

