@import 'https://fonts.googleapis.com/css?family=Oswald';

$orfe_conference_font: "Open Sans", sans-serif;
$breakpoint: 850px;
$orfe_conference_sitewidth: 1280px;
$orfe_conference_header_font: "Oswald", sans-serif;

#header {
	background-image: none;
	padding: 0;
	#site-slogan {
		font-size: 1.25em;
	}
	
	#name-and-slogan {
		#site-name a {
			line-height: 1.4em;
			}
		}
}

.postponed {
	font-weight: bold;
	color: red;
}